// Colors
$color-home-primary: rgb(70, 29, 124);
$color-home-secondary: rgb(253, 208, 35);

$color-away-primary: rgb(120, 47, 64);
$color-away-secondary: rgb(206, 184, 136);

$color-black: #000;
$color-white: #fff;
$color-green: rgb(0, 185, 0);
$color-red: rgb(255, 0, 0);
$color-grey: rgb(170, 170, 170);

$color-score: $color-white;
$color-score-background: rgb(20, 20, 20);

$color-quarter: rgb(247, 227, 113);
