.play-input {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 70%;
  padding: 5rem;
  background-color: $color-white;
  font-size: 1.8rem;
  display: none;
  font-family: $primary-font;
  flex-direction: column;
  justify-content: space-evenly;
  z-index: 1000;

  &__logo-container {
  }

  &__type-inputs {
    display: flex;
    flex-direction: column;
  }

  &__click-inputs {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    height: auto;
    width: auto;
    max-height: 12rem;
  }

  &__pass {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    &--title {
      text-align: center;
    }
  }

  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}
